{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        gap: 20px;
    }
</style>

<h1>Welcome to Studdy Buddy Community!</h1>

<div class ="home-container">

    <div>
        
    </div>

    <div>
        <h3><span style="color: brown; margin-left: 10px;">{{ room_count }}</span> Rooms Available!</h3>
        {% include 'base/feed_component.html'%}
    </div>

    <div>
        {% include 'base/activity_component.html' %}
    </div>

</div>

{% endblock %}
